<% provide(:title, t('static_pages.about.title')) %>
	<h1><%= t('static_pages.about.title') %></h1>
	<p>
		<%= t('static_pages.about.text1') %><a href="http://railstutorial.org/help">Ruby on Rails Tutorial</a>
		<%= t('static_pages.about.text2') %>
		<a href="http://railstutorial.org/book">Ruby on Rails</a><%= t('static_pages.about.text3') %>
	</p>
	